stasymult.online, www.stasymult.online, stasymult.ru {
    reverse_proxy web_tv:8000 {
        flush_interval -1
        transport http {
            response_header_timeout 0
            read_buffer 64kb
        }
    }
}
